@model IEnumerable<Domaine.Response>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question.title_question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title_resp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.detail_resp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_resp)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question.title_question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title_resp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.detail_resp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_resp)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ResponseId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ResponseId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ResponseId })
            </td>
        </tr>
    }

</table>

